body {
  text-align: center;
  background-color: #283149;
}

body #title {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Avro", cursive;
  text-shadow: 3px 0 #DA0463;
}

body .set {
  margin-top: 8%;
  margin-bottom: 7%;
}

body .set .w {
  background-image: url("../images/tom1.png");
}

body .set .a {
  background-image: url("../images/tom2.png");
}

body .set .s {
  background-image: url("../images/tom3.png");
}

body .set .d {
  background-image: url("../images/tom4.png");
}

body .set .j {
  background-image: url("../images/snare.png");
}

body .set .k {
  background-image: url("../images/crash.png");
}

body .set .l {
  background-image: url("../images/kick.png");
}

body .set .drum {
  outline: none;
  border: 5px solid black;
  font-size: 5rem;
  font-family: monospace;
  line-height: 2;
  font-weight: 700;
  color: #ff2e63;
  text-shadow: 3px 0 white;
  border-radius: 100%;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}
